* {
  border: 0;
  padding: 0;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/* Hamburger menu */

.logo {
  max-width: 250px;
  width: 100%;
}

nav {
  height: 10vh;
  background: #ffffff;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  align-items: flex-end;
  margin-left: auto;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

@media (min-width: 1201px) {
  .nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: auto;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1200px) {
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 60px;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background:  #d9cfba;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -18%);
    -webkit-clip-path: circle(100px at 90% -18%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(860px at 90% -10%);
    -webkit-clip-path: circle(800px at 112% -10%);
    pointer-events: all;
  }

  .landing {
    flex-direction: column;
  }

  .nav-links li {
    margin-top: 35px;
    padding-right: 60px;
    padding-top: 6px;
  }

  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
}

/* Hamburger menu end */

body {
  font-family: 'Manrope', sans-serif;
}

/* Header Section */

.hero {
  background-image: url("images/turtle-dark.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100vh;
}

.text-container {
  max-width: 1200px;
  margin: auto;
}

.text {
  color: white;
  font-weight: 800;
  font-size: 6rem;
  text-align: left;
  padding-top: 250px;
}

.text-2 {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
  max-width: 600px;
}

/* What We Do Section */

.masonry-wrapper {
  padding-top: 200px;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
}

.masonry {
  columns: 1;
  column-gap: 30px;
}

.masonry-item, .masonry-item-text {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.masonry-content {
  font-size: 3rem;
}

.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}

.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry-item-text p {
  padding: 10px 40px 20px 0;
}

.masonry-item-text h2 {
  padding-top: 20px;
}

.masonry-item img {
  max-width: 600px;
}

/* Adopt A Sea Turtle Section */

.adopt-container {
  background-color: #d9cfba;
  height: 800px;
  color: white;
}

.adopt-text {
  font-size: 3rem;
  padding-top: 70px;
  color: white;
  max-width: 1250px;
  margin: auto;
}

/* Carousel */

.body-carousel {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 700px;
  background-color: #d9cfba;
  padding-bottom: 80px;
}

#wrapper {
  width: 80%;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 900px;
  height: 600px;
  background: green;
}

/* End Carousel */

/* API */

.weather-section {
  max-width: 1250px;
  margin: auto;
  padding: 200px 0 200px 0;
  margin-top: 115px;
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
}

#temp {
  padding-bottom: 10px;
}

#para {
  padding: 20px 0;
}


/* How You Can Help Section */

.learn {
  background-image: url("images/underwater.jpg");
  background-size: cover;
  height: 800px;
}

.learn h1 {
  font-size: 3rem;
  padding-top: 200px;
  color: white;
  max-width: 1250px;
  margin: auto;
  text-align: center;
}

.button-wrapper {
  margin: 2em;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Manrope', sans-serif;
}

.button {
  border: none;
  display: inline-block;
  font-size: 1.4em;
  padding: .75em 1em;
  width: auto;
}

.cta-button {
  background-color: #d9cfba;
  color: #000000;
  font-family:'Manrope', sans-serif;
  text-decoration: none;
}

.cta-button:hover {
  background-color: black;
  color: white;
  transition-duration: .3s;
}

/* Footer */

footer {
  height: 150px;
  max-width: 1250px;
  margin: auto;
}

footer ul {
  padding-top: 60px;
}

footer ul li {
  display: inline;
  padding-left: 50px;
}

/* ABOUT US PAGE */

.about {
  background-image: url("images/beach-edit.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.about-text {
  padding-bottom: 200px;
}

.about-us {
  max-width: 1250px;
  margin: auto;
  height: 400px;
  padding-top: 200px;
}

#about-text {
  color: black;
}

.about-us h1 {
  padding-bottom: 10px;
}

.about-us p {
  padding-bottom: 50px;
}

#bckgd {
  background-color: #267373;
  width: 100%;
  height: 450px;
}

#bckgd h1 {
  max-width: 1250px;
  margin:auto;
  color: white;
  padding-top: 70px;
}

.history-background {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  max-width: 1250px;
  margin: auto;
}

.history {
  padding-top: 70px;
  max-width: 350px;
  color: white;
}

.condensed {
  height: 0px;
  overflow: hidden;
  transition: all 1s;
}

.show {
  height: 130px;
  transition: height 1s;
}

/* Rehabilitation Page */

.rehab {
  background-image: url("images/rehabilitation.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.main-content {
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 200px 0;
}

.para1, .para2 {
  max-width: 600px;
  padding: 0px 15px;
}

.main-content p {
  padding-top: 50px;
}


@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media (max-width: 1800px) {
  .hero {
    height: 800px;
  }

  .text {
    padding-top: 200px;
    font-size: 3rem;
  }
}

@media (max-width: 1299px) {
  .text-container, .adopt-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .learn h1 {
    max-width: 700px;
  }

  .masonry-wrapper {
    max-width: 1100px;
    padding: 50px 0;
  }

  .beach, .turtle {
    display: none;
  }

  #wrapper {
    width: 95%;
  }

  .about-us {
    padding-left: 40px;
  }

  .history-background {
    flex-direction: column;
    padding-left: 40px;
    padding-right: 20px;
  }

  #bckgd {
    height: 900px;
  }

  #bckgd h1 {
    padding-left: 40px;
  }

  .weather-section {
    padding-left: 20px;
    padding-right: 10px;
  }
}

@media (max-width: 1200px) {
  .logo {
    display: none;
  }
}

@media (max-width: 1184px) {
  .masonry-wrapper {
    width: 90%;
  }


  .main-content {
    padding: 50px 20px 80px 20px;
  }
}


@media (max-width: 782px) {
  footer ul li {
    display: block;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .hero, .learn {
    height: 500px;
  }

  .text {
  font-size: 2rem;
  padding-top: 100px;
  }

  .text-2 {
    font-size: 1.4rem;
  }

  .masonry-item-text h1, .adopt-text, .learn h1 {
    font-size: 2rem;
  }

  .masonry-item-text p {
    font-size: .9rem;
    padding: 10px 20px 10px 0;
  }

  .learn h1 {
    padding: 100px 15px 0 15px;
  }

  .item {
    width: 450px;
    height: 300px;
  }

  .body-carousel, .adopt-container {
    height: 300px;
  }

  .adopt-container {
    margin-bottom: 228px;
  }

  .adopt-text {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .nav-links li {
    margin-top: 36px;
  }

  .main-content {
    display: block;
    padding: 50px 20px 80px 20px;
  }

  .weather-section {
    padding: 100px 20px 110px 20px;
  }

  .weather-details h1 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1300px) {
  .masonry {
    columns: 2;
  }
}
